"use_browser":"chrome"
"use_hub":""

"application_url" : "http://newtours.demoaut.com"
"username"			:	"mytestuser"
"password"			:   "Myautomation_2017"

#-Dhub=hubwin -Denv=local -Djms1=devjms -Ddb1=mercuryorcl -Ddb2=mercurydb2 -Ddebug=1
 "Createreservation": {
                "Default": {
                    "origin": "IAD",
                    "destination": "DXB",
                    "passengers": "4",
                 
                }
                "farhan": {
                "DOB" : "02232003",
                "age" : "14"
                }
                "sana": {
                "DOB" : "06012006",
                "age" : "10"
                }
                
         }
         
#MQ Configuration
"jms_cfg": {
        "mercuryapp": {
            "devjms": {
                "host": "abc_dev1",
                "port": 1234,
                "transport": 1,
                "queue_manager": "QM_MYQMD1",
                "channel": "QM_MYQMD1.QCMYQC1"
            		}
             "pacjms": {
                "host": "abc_dev1",
                "port": 1234,
                "transport": 1,
                "queue_manager": "QM_MYQMD1",
                "channel": "QM_MYQMD1.QCMYQC1"
            		}
                 		}
                 		        "fbapp": {
            "dev": {
                "host": "abc_dev1",
                "port": 1234,
                "transport": 1,
                "queue_manager": "QM_MYQMD1",
                "channel": "QM_MYQMD1.QCMYQC1"
            		}
             "pac": {
                "host": "abc_dev1",
                "port": 1234,
                "transport": 1,
                "queue_manager": "QM_MYQMD1",
                "channel": "QM_MYQMD1.QCMYQC1"
            		}
                 		}
            		}
            		
#DB Configuration

"db_desc" : 
{
  "win"  :  {
  				"mercurydb2" : { "user" : "kmohd", "pass" : "abcd123456", 
  				"driver" : "com.ibm.db2.jcc.DB2Driver", "url" : "jdbc:db2//tomahawk.can.fds.qualityinfosys.com:30000/mcwdb1"}
  				"mercuryorcl" : { "user" : "kmohd", "pass" : "abcd123456", 
  				"driver" : "oracle.jdbc.driver.OracleDriver", "url" : "jdbc:oracle:thin@tomahawk.can.fds.qualityinfosys.com:1521/orcldb1"}
            }
#Bamboo
  "unix"  :  {
  				"mercurydb2" : { "dbtype" :"db2", "user" : "kmohd", "pass" : "abcd123456", 
  				"driver" : "com.ibm.db2.jcc.DB2Driver", "url" : "jdbc:db2//tomahawk.can.fds.qualityinfosys.com:30000/mcwdb1"}
  				"mercuryorcl" : { "user" : "kmohd", "pass" : "abcd123456", 
  				"driver" : "oracle.jdbc.driver.OracleDriver", "url" : "jdbc:oracle:thin@tomahawk.can.fds.qualityinfosys.com:1521/orcldb1"}
            }

}